.country__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  margin-top: 80px;
}

@media only screen and (max-width: 991px) {
  .country__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .country__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
